@import "Var.css";
*,*::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--clr-dark-100);
    font-family: var(--heading);
    transition: all 0.3s;
}
.call-dark{
    background-color: var(--clr-call-200);
    color: var(--clr-light-100);
    border: 1px solid var(--clr-call-100);
    padding: 0.5rem 1rem; 
    display:block;
    width: fit-content;
    border-radius: 5px;
    &:hover{
        background-color: var(--clr-call-100);
    }
}
.call-light{
    background-color: var(--clr-light-200);
    color: var(--clr-call-200);
    border: 1px solid var(--clr-light-100);
    padding: 0.5rem 1rem; 
    display:block;
    width: fit-content;
    border-radius: 5px;
    &:hover{
        background-color: var(--clr-light-100);
    }
}
.call-inline{
    color: var(--clr-dark-200);
    text-decoration: underline;
    font-family: inherit;
    &:hover{
        color: inherit;
    }
}
.call-icon{
    .icon{
        color: var(--clr-dark-100);
    }
   .text{
    display:none;
   }
   &:hover{
        .icon{
            color: var(--clr-dark-200);
        }
   }
}
.call{
    color: var(--clr-dark-100);
    &:hover{
        color: var(--clr-dark-200);
    }
}